body {
  font-family: helvetica, sans-serif;
  background: url("https://free4kwallpapers.com/uploads/originals/2019/04/07/origami-foxes-wallpaper.jpg");
  background-size: cover;
  Background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  text-align: center;
  background: url("http://cdn.wallpaperhi.com/2560x1600/20140410/clouds%20stars%20moon%20night%20sky_www.wallpaperhi.com_39.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  padding: 10px 0px 0px 0px;
  margin: -10px -8px 0px -8px;
}

ul {
  padding: 10px;
  background: rgba(60, 60, 60, 0.9);
}

ul:hover {
  background: url("https://staticdelivery.nexusmods.com/images/1151/6050893-1472831060.gif");
  background-size: cover;
  background-position: center;
}

li {
  display: inline;
  padding: 0px 20px 0px 10px;
}

div {
  height: 200px;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  margin: 0 auto 20px auto;
  max-width: 600px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 85px;
  color: white;
  text-shadow: 3px 3px black;
  letter-spacing: 15px;
}

h2 {
  font-family: 'Koulen', cursive;
  text-align: center;
  color: yellow;
  margin: 0px 0 20px 0;
  font-size: 35px;
  text-shadow: 3px 3px black;
  letter-spacing: 2px;
}

a {
  Color: white;
  text-decoration: none;
}

h3 {
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow: 3px 3px black;
}

.Rick:hover {
  background: url("https://i.gifer.com/Octt.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 11px;
  color: rgba(60, 60, 60, 0.0);
}

.Tele {
  background-image: url("https://cdn.wallpapersafari.com/79/26/w9TpmY.png");
  background-position: center;
}

.Tele__Content {
  text-align: center;
  color: white;
}