  body {
    text-align: center;
    font-family: monospace;
    background: url("https://wallpaperaccess.com/full/3461470.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .h__link {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-top: 60px;
    margin-right: 50px;
    text-shadow: 5px 10px 10px black;
  }

  #home,
  #game {
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-family: Courier;
    animation: 3s infinite alternate rotate;
    animation-fill-mode: forwards;
  }

  @keyframes rotate {
    from {
      transform: rotate(-10deg);
    }

    to {
      transform: rotate(10deg);
    }
  }

  #home:hover {
    background: url("https://media0.giphy.com/media/KOvMTaaydyK2wUW1AE/giphy.gif?cid=ecf05e470bh3s73z9procb4e9v84cfxeukctz1v64hsgkuy1&rid=giphy.gif&ct=s");
  }

  #game:hover {
    background: url("https://media0.giphy.com/media/2xPPF9H4LMdcp2MYIP/giphy.gif?cid=790b761129f8fffaf448ff8749326f6e8799aa488a17d509&rid=giphy.gif&ct=s");
  }

  #home:hover,
  #game:hover {
    animation: 0s infinite alternate hov_anim;
    animation-fill-mode: forwards;
  }

  @keyframes hov_anim {

    to {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: scale(4);
      color: rgba(60, 60, 60, 0.0);
      text-shadow: 0px 0px;
    }
  }

  #btn__img {
    background: url("https://c.tenor.com/3uHxa8bk_lkAAAAi/mario-super-mario.gif");
    cursor: crosshair;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 75px;
    margin: 50px;
    border: none;
    filter: drop-shadow(20px 30px 10px black);
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 80px 0px;

  }

  main:hover {
    animation: 3s infinite alternate rotate;
    animation-fill-mode: forwards;

  }

  main:active {
    animation: none;
    transform: scale(2.5);

  }

  .book {
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 5%;
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
    filter: drop-shadow(20px 30px 10px black);
    font-size: 10px;
  }

  .page1,
  .page2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    row-gap: 70px;
  }

  .page1 {
    border-left: 3px solid brown;
    border-right: 2px solid brown;
  }

  .page2 {
    border-right: 5px solid brown;
  }

  .pixel1 {
    background: url("https://c.tenor.com/_EYOsX_1CUkAAAAC/pixel-night.gif");
  }

  .pixel2 {
    background: url("https://i.pinimg.com/originals/9d/ea/64/9dea6422afee150cbe2f65b5317285eb.gif");
  }

  .pixel1,
  .pixel2 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 175px;
    height: 100px;
  }

p {
   color: blue;
   position: relative;
   top: 90%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 55px;
    justify-content: space-betwee;
    margin-right: 50px;
    text-shadow: 5px 15px 10px black;
  }

  .contact,
  .about {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-family: Courier;
    animation: 3s infinite alternate rotate;

  }

  .contact:hover {
    background: url("https://giffiles.alphacoders.com/360/36088.gif");
  }

  .about:hover {
    background: url("https://media0.giphy.com/media/IU5ApmC4e6wEw/giphy.gif?cid=790b761186c21aa6de3ad6955cdcfd83088656dc21bebcf1&rid=giphy.gif&ct=g");
  }

  .contact:hover,
  .about:hover {
    animation: 0s infinite alternate hov_anim;
    animation-fill-mode: forwards;
  }

  #dia {
    background-color: red;
    border: 3px solid red;
  }

  @media (max-width: 1000px) {
    main:hover {
      transform: scale(1.5);
    }
  }

  @media (max-width: 800px) {
    main:hover {
      transform: scale(1.0);
    }

    @keyframes hov_anim {

      to {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: scale(1.5);
        color: rgba(60, 60, 60, 0.0);
        text-shadow: 0px 0px;
      }
    }

    #home,
    #game,
    .contact,
    .about {
      font-size: 30px;
    }
  }