@import "../../Assets/mixins";

footer {
  display: flex;
  justify-content: center;
  z-index: 999;
  gap: 2.5rem;
  filter: drop-shadow(5px 5px 5px black);
}

.linkedin {
  height: 64px;
  width: 64px;
}

@media only screen and (max-width: 1000px) {
  .git,
  .linkedin {
    height: 32px;
    width: 32px;
  }
}
