@import '../../Assets/mixins';

nav {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  background: rgb(28, 28, 28);
  z-index: 999;
  height: 3rem;
  text-shadow: 1px 1px 2px $primary-color-hover;
}

.logoD {
  @include secondaryFont();
  color: $primary-color-hover;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: .2rem;
}

.right {
  z-index: 999;
  display: flex;
  gap: 1rem;
}

.navLinks {
  @include secondaryFont();
  color: #e9e3d5;
  letter-spacing: 1px;
}

.navLinks:hover {
  color: $primary-color-hover;
}

a {
  text-decoration: none;
}



